<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tester">
  <select id="testQueryId"  parameterType="hashmap" resultType="hashmap">
SELECT DEPT_NAME
 FROM DEPT WHERE DEPT_NO = #{deptNo}
  </select>

 </mapper>
